/* Search  */
.help-center-question__search-form {
    background-color: #ddd;
    border: 1px solid;
    border-radius: 0.3rem;
    padding: 0.3rem;
    justify-content: space-between;
}

.help-center-question__search-form--btn {
    align-items: center;
    border-radius: 0.3rem;
    padding: 0.3rem;
    border: none;
    width: 10%;
    cursor: pointer;
}

.help-center-question__search-form--btn>svg {
    padding-right: 0.3rem;
    font-size: 1.2rem;
}

.help-center-question__search-form input {
    background-color: #777;
    border: none;
    padding: 0.3rem;
    border-radius: 0.3rem;
    color: white;
    width: 70%;
}

.help-center-question__search-form input::placeholder {
    color: white;
}

.help-center-question__search-form select {
    width: 100%;
}

.help-center-question__search-form__select-wraper {
    background-color: #f0f0f0;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
}

.help-center-question__search-form label {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.help-center-question__search-form select {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    color: transparent;
    cursor: pointer;
}

.help-center-question__search-form select option {
  color: #fff;
  background-color: #777;
  border-radius: 0.3rem;
}