.help-center__container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-gap: 0.5rem;
    min-height: 97vh;
    border: 0.5rem solid #ddd;
    padding: 0.3rem;
    background-color: #ddd
}

.send-or-ask {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.send-or-ask__p {
    margin-left: 0.5rem;
}

.quill {
    width: 100%;
    margin-bottom: 3rem;
    flex-grow: 1;
}