<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/3cd69e2433.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="sc-AxhUy fDzHPb">
        <nav class="sc-AxiKw kDOkMn">

        </nav>
        <div class="help-center">
            <div class="question-list">
                
            </div>
            <div class="question-details">
                <form action="" method="post" class="question-form">
                    <input type="text" name="title" placeholder="Type the question title here...">
                    <textarea name="content" placeholder="Type your question here..."></textarea>
                </form>
            </div>
        </div>
    </div>
</body>

</html>