.question-area__side-content__add-question-form {
    padding: 0.5rem;
    text-align: center;
}

.question-area__side-content__add-question-form__input {
    margin-bottom: 0.4rem;
    padding: 1rem;
    border: 1px solid;
    border-radius: 0.3rem;
    width: 100%;
    background-color: #eee;
    font-size: 1.4rem;
}

.question-area__side-content__add-question-form__submit-btn {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 0.3rem;
    width: 50%;
    background-color: #888;
    font-size: 1.3rem;
    font-weight: bold;
}

.question-area__side-content__add-question-form__submit-btn:hover {
    cursor: pointer;
}

.question-area__side-content__add-question-form .RichEditor-root {
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    height: 71vh;
    border: 1px solid;
    border-radius: 0.3rem;
    background-color: #eee;
    resize: none;
}