<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/3cd69e2433.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="sc-AxhUy fDzHPb">
        <nav class="sc-AxiKw kDOkMn">
        </nav>
        <div class="help-center">

            <div class="help-center__community-wrapper">
                <div>
                    <img src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/92269101_2759561317502934_45117377314029568_o.jpg?_nc_cat=111&_nc_sid=825194&_nc_ohc=GF89b4G6QfkAX9tzfOO&_nc_ht=scontent.fsof3-1.fna&oh=504ff47ae73787148413f481a8af0cb3&oe=5EF25FC7"
                    alt="" class="help-center__community-wrapper__img">
                    <h2 class="help-center__community-wrapper__h2">SoftUni JS Community</h2>
                    <p class="help-center__community-wrapper--fb-members">Facebook Group - <span>1200</span> members</p>
                    <div class="help-center__community-wrapper--link-btn">
                        <i class="fab fa-facebook-square"></i>
                        <p class="help-center__community-wrapper--link-btn__p">Visit Group</p>
                    </div>
                </div>
                <p class="help-center__community-wrapper__p">Група за всички СофтУни студенти в JS пътеката с цел социализиране...</p>
            </div>
        </div>
    </div>
</body>

</html>