.administrative-question-list__cards-list {
    margin: 0.3rem 0;
    flex-grow: 1;
    max-height: 79vh;
    overflow: auto;
}

.administrative-question-list__cards-list article+article {
    margin: 0.3rem 0;
}

.administrative-question-list__cards-list__question-card {
    border: 1px solid;
    border-radius: 0.3rem;
    padding: 0.5rem;
    max-height: 18vh;
    overflow: hidden;
}

.administrative-question-list__cards-list__question-card--date {
    font-size: 0.8rem;
    margin: 1rem 0;
}