<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/3cd69e2433.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="root">
        <div class="help-center__container">
            <nav class="help-center__nav">
                <div class="help-center__nav__panel">
                    <div class='help-center__nav__technical-panel'>

                    </div>
                </div>
            </nav>
            <section class="administrative-question__main">
                <form action="" method="post" class="administrative-question__main__form">
                    <div class="administrative-question__main__form__input-field-with-icon">
                        <i class="far fa-comments"></i>
                        <input type="text" name="title" placeholder="Subject">
                    </div>
                    <div class="administrative-question__main__form__input-field-with-icon">
                        <i class="far fa-envelope"></i>
                        <input type="text" name="title" placeholder="Your Email">
                    </div>
                    <textarea name="content" class="administrative-question__main__form__textarea"
                        placeholder="Describe your problem/inquiry here..."></textarea>
                    <a href="">
                        <div class="send-or-ask">
                            <i class="fas fa-plus-circle"></i>
                            <p class="send-or-ask__p">Send Question</p>
                        </div>
                    </a>
                </form>
            </section>

        </div>
    </div>
</body>

</html>