/* This part is already in use (default)., do not copy/use in your code!!! */

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    max-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-height: 100%;
}

#root {
    width: 100%;
    max-height: 100%;
}

/* help-center  */

.help-center__container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-gap: 1rem;
    min-height: 97vh;
    border: 5px solid #ddd;
    padding: 0.3rem;
}

/* nav  */

.help-center__nav {
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.RichEditor-root {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0.3rem;
    font-family: 'Georgia', serif;
    font-size: 0.9rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

/* This part is already in use (default), do not copy/use in your code!!! */

/* this part is for administraitive question form */

.administrative-question__main__form {
    border: 1px solid;
    border-radius: 0.3rem;
    min-height: 100%;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    height: 100%;
}

.administrative-question__main__form .RichEditor-root {
    padding: 0.3rem;
    width: 100%;
    border: 1px solid;
    border-radius: 0.3rem;
    background-color: #eee;
    flex: 1 0 15%;
}

.administrative-question__main__form a {
    padding: 0.3rem;
    margin-top: 0.3rem;
    text-decoration: none;
    border: 1px solid;
    border-radius: 0.3rem;
    width: 100%;
    background-color: #eee;
    flex-basis: 7%;
    color: black;
}

.send-or-ask {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.send-or-ask__p {
    margin-left: 0.5rem;
}

.administrative-question__main__form__input-field-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin: 0 0 0.3rem 0;
}

.administrative-question__main__form__input-field-with-icon i {
    font-size: 1.3rem;
    padding: 0.4rem;
    flex-basis: 6%;
}

.administrative-question__main__form__input-field-with-icon input {
    padding: 0.5rem 0.2rem;
    margin: 0;
    flex: 1 0 20%;
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    background-color: #777;
    flex-basis: 7%;
}

.administrative-question__main__form__input-field-with-icon input::placeholder {
    padding-left: 0.5rem;
    color: white;
}