/* Question Card */
.question-area__main-content__item-card {
    min-height: 17%;
    padding: 2% 4%;
    margin-top: 2%;
    border: 1px solid;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
}

.question-area__main-content__item-card:target {
    background-color: #777;
    color: white;
}

.question-area__main-content__item-card:hover {
    background-color: #777;
    color: white;
}

.question-area__main-content__item-card__header {
    display: flex;
    justify-content: space-between;
}

.question-area__main-content__item-card__header-second-col {
    display: flex;
    flex-direction: column;
}

.question-area__main-content__item-card__elipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question-area__main-content__item-card__date {
    margin-top: 5px;
    font-size: 0.7rem;
    font-style: italic;
    flex-shrink: 1;
}

.question-area__main-content__item-card p {
    padding: 0;
    margin: 0;
}

.question-area__main-content__item-card h2 {
    padding: 2% 0;
    margin: 0;
    font-size: 1em;
}

.question-area__main-content__item-card img {
    border: 1px solid;
    height: 5.5vw;
    width: 5.5vw;
    margin: 0.3rem;
}

.question-area__main-content__item-card__buttons {
    display: flex;
    flex-wrap: nowrap;
}

.question-area__main-content__item-card__buttons button {
    border-radius: 10px;
    border-color: white;
    margin-top: 0.5rem;
    padding: 0.2rem 0.3rem;
    flex-shrink: 0;
}

.question-area__main-content__item-card__left-btn {
    background-color: #d9d9d9;
    color: black;
}

.question-area__main-content__item-card__right-btn {
    background-color: #f2f2f2;
    color: #2181c2;
}
