<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/3cd69e2433.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="sc-AxhUy fDzHPb">
        <nav class="sc-AxiKw kDOkMn">

        </nav>
        <div class="help-center">
            <div class="question-list">
                <!-- Search form -->
                <form action="" method="get" class="flex form">
                    <button type="submit" class="flex search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                    <input type="text" placeholder="Search...">
                    <div class="select-wraper">
                        <label for="#custom_select">
                            <i class="fas fa-sort-amount-down"></i>
                        </label>
                        <select id="custom_select">
                            <option value="latest">Latest</option>
                            <option value="most-liked">Most Liked</option>
                            <option value="most-commented">Most commented</option>
                            <option value="unread">Unread</option>
                        </select>
                    </div>
                </form>

                <!-- Question Card -->
                <a href="">
                    <div class="question element">
                        <header class="flex">
                            <img src="" alt="">
                            <div>
                                <div class="flex">
                                    <p class="ellipsis bold">Peter Petrov</p>
                                    <p class="counter">2 answers</p>
                                </div>
                                <div class="flex">
                                    <p class="ellipsis date">15.05.2020 09.45</p>
                                    <button class="left-btn flex">
                                        0 <i class="fas fa-thumbs-down"></i>
                                    </button>
                                    <button class="right-btn flex">
                                        5 <i class="fas fa-thumbs-up"></i>
                                    </button>
                                </div>
                            </div>
                        </header>
                        <div>
                            <h2 class="ellipsis">Help with Old Books Problem</h2>
                            <p class="ellipsis">Hello, I need some help to solve the problem.</p>
                        </div>
                    </div>
                </a>
                <!-- Question Card -->
                <a href="">
                    <div class="question element">
                        <header class="flex">
                            <img src="" alt="">
                            <div>
                                <div class="flex">
                                    <p class="ellipsis bold">John Doe</p>
                                    <p class="counter">5 answers</p>
                                </div>
                                <div class="flex">
                                    <p class="ellipsis date">16.05.2020 09.58</p>
                                    <button class="left-btn flex">
                                        3 <i class="fas fa-thumbs-down"></i>
                                    </button>
                                    <button class="right-btn flex">
                                        2 <i class="fas fa-thumbs-up"></i>
                                    </button>
                                </div>
                            </div>
                        </header>
                        <div>
                            <h2 class="ellipsis">Question</h2>
                            <p class="ellipsis">Hi, can you please help me with the solution of the Problem 3.</p>
                        </div>
                    </div>
                </a>

                <!-- New Question -->
                <a href="">
                    <div class="new-question element flex">
                        <i class="fas fa-plus-circle"></i>
                        <p>New Qwestion</p>
                    </div>
                </a>
            </div>
            <div class="question-details">

            </div>
        </div>
    </div>
</body>

</html>