.question-area__flex {
    display: flex;
    justify-content: space-between;
}

.question-area__bold {
    font-weight: bold;
}

.question-area__main-content {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

.question-area__main-content a {
    text-decoration: none;
    color: black;
}

.question-area__main-content a:hover {
    color: #fff;
}

/* New Question  */

.question-area__main-content__send-or-ask {
    padding: 0.3rem;
    margin-top: 0.3rem;
    border: 1px solid;
    border-radius: 0.3rem;
    background-color: #eee;
}

.question-area__main-content__send-or-ask:hover {
    background-color: #777;
}

.question-area__main-content__articles-list {
    flex-grow: 1;
}