<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/3cd69e2433.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="root">
        <div class="help-center__container">
            <nav class="help-center__nav">
                <div class="help-center__nav__panel">
                    <div class='help-center__nav__technical-panel'>

                    </div>
                </div>
            </nav>
            <section class="administrative-question__main">
                <div class="administrative-question__main__confirmation">
                    <h1>Thank you for contacting us!</h1>
                    <i class="far fa-check-circle"></i>
                    <p>Your question was received and is currently beeing processed. You will receive response by email
                        in the next few hours</p>
                    <a href="">
                        <i class="far fa-comments"></i>
                        <p>
                            Browse the Frequently Asked Questions (FAQ)
                        </p>
                    </a>
                </div>
            </section>

        </div>
    </div>
</body>

</html>