/* Question Card */
.question-area__main-content__item-card {
    min-height: 18%;
    padding: 2% 4%;
    margin-top: 2%;
    border: 1px solid;
    border-radius: 5px;
    background-color: #ddd;
}

.question-area__main-content__item-card--link {
    cursor: pointer;
}

.question-area__main-content__item-card__elipsis {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question-area__main-content__item-card__date {
    margin-top: 5px;
    font-size: 0.8rem;
    font-style: italic;
}

.question-area__main-content__item-card__counter {
    text-align: right;
    flex: 1 0 35%;
}

.question-area__main-content__item-card:hover {
    background-color: #777;
}

.question-area__main-content__item-card header {
    align-items: center;
}

.question-area__main-content__item-card p {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.question-area__main-content__item-card h2 {
    padding: 2% 0;
    margin: 0;
    font-size: 1em;
}

.question-area__main-content__item-card img {
    border: 1px solid;
    min-height: 50px;
    min-width: 50px;
}


.question-area__main-content__item-card__left-btn {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #d9d9d9;
    color: #999999;
    border-color: white;
}

.question-area__main-content__item-card__right-btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f2f2f2;
    color: #2181c2;
    border-color: white;
}
