.RichEditor-root {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0.3rem;
    font-family: 'Georgia', serif;
    font-size: 0.9rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.RichEditor-editor {
    border-top: 1px solid #777;
    cursor: text;
    font-size: 1rem;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
    padding: 1rem;
}

/* .RichEditor-editor .public-DraftEditor-content {
    min-height: 4rem;
} */

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.public-DraftEditorPlaceholder-root {
    position: static;
}

.RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #777;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 1rem 0;
    padding: 0.6rem 1rem;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 1rem;
    padding: 1.2rem;
}

.RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
    user-select: none;
}

.RichEditor-styleButton {
    color: #777;
    cursor: pointer;
    margin-right: 1rem;
    padding: 0.1rem 0;
    display: inline-block;
    text-decoration: underline;
}

.RichEditor-activeButton {
    color: #5890ff;
}