.help-center__nav__technical-panel {
    background-color: #ddd;
    padding: 0.6rem 0;
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 0.3rem;
    font-size: 1.5rem;
}

.help-center__nav__a .display-block {
    display: block;
}

.help-center__nav__technical-panel ul{
    padding: 0.6rem;
    margin: 0;
    display: none;
}

.help-center__nav__technical-panel li {
    list-style-type: none;
    background-color: #eee;
    padding: 0.5rem;
    text-align: right;
    margin: 0.5rem 0;
    border: 1px solid;
    border-radius: 0.3rem;
    font-size: 1.1rem;
}

.help-center__nav__technical-panel li:hover {
    background-color: #777;
    color: #eee;
}

.help-center__nav__technical-panel h2 {
    font-size: 1em;
    margin: 0.3rem 0;
    text-align: center;
}

.help-center__nav__technical-panel svg {
    display: block;
    margin: 0 auto;
}
