.help-center__nav__technical-panel {
    background: #ddd;
    padding: 0.6rem;
    flex-grow: 2;
}

.help-center__nav__technical-panel ul {
    padding: 0.6rem;
}

.help-center__nav__technical-panel li {
    list-style-type: none;
    background: #eee;
    padding: 0.5rem;
    text-align: right;
    margin: 0.5rem 0;
}

.help-center__nav__technical-panel li:hover {
    background-color: #777;
    color: #eee;
}

.help-center__nav__technical-panel h2 {
    font-size: 1em;
    padding: 0.4rem;
    margin: 0.3rem;
    text-align: center;
}

.help-center__nav__technical-panel svg {
    display: block;
    margin: 0 auto;
}