.help-center__nav {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

.help-center__nav a {
    text-decoration: none;
    color: inherit;
}

.help-center__nav a+a {
    margin-top: 0.3rem;
}

.help-center__nav h2 {
    margin: 0.3rem 0;
    padding: 0;
}