.question-area__container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 1rem;
}

/* Question Deatails  */
.question-area__side-content {
    border: 1px solid black;
}