<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/3cd69e2433.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="sc-AxhUy fDzHPb">
        <nav class="sc-AxiKw kDOkMn">

        </nav>
        <div class="help-center">
            <div class="question-list">

            </div>
            <div class="question-details">
                <div class="question-type">
                    <header>
                        <i class="fas fa-cogs"></i>
                        <h3>Ask a <b>technical</b> question</h3>
                    </header>
                    <p>E.g. Where is the problem in this code.../ Help me with this error message.../ How to use this
                        library...</p>
                </div>
                <div class="question-type">
                    <header>
                        <i class="fas fa-address-card"></i>
                        <h3>Ask an <b>administrative</b> question</h3>
                    </header>
                    <p>E.g. I cannot access my course contetn.../ My payment failed.../ Can I use Java at the exam...
                    </p>
                </div>
                <div class="question-type">
                    <header>
                        <i class="fas fa-user-friends"></i>
                        <h3>Share with the <b>community</b></h3>
                    </header>
                    <p>E.g. Apple created a new AI tool, what do you think.../ JS is the most active language in
                        StackOverflow...</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>