/* This part is already in use (default)., do not copy/use in your code!!! */

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    max-height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-height: 100%;
}

#root {
    width: 100%;
    max-height: 100%;
}

/* help-center  */

.help-center__container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-gap: 1rem;
    min-height: 97vh;
    border: 5px solid #ddd;
    padding: 0.3rem;
}

/* nav  */

.help-center__nav {
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.RichEditor-root {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0.3rem;
    font-family: 'Georgia', serif;
    font-size: 0.9rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

/* This part is already in use (default), do not copy/use in your code!!! */

/* this part is for administraitive question answer */

.administrative-question__main__answer-wrapper {
    border: 1px solid;
    border-radius: 0.3rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

.administrative-question__main__answer-wrapper h1 {
    border-bottom: 1px solid;
    padding: 1rem;
}

.qdministrative-question__main__question-content{
    display: flex;
    padding: 0.8rem;
    background-color: #7f7f7f;
    align-items: flex-start;
}

.administrative-question__main__content-wrapper{
    background-color: #767171;
    flex-grow: 1;
    max-height: 78vh;
    overflow: auto;
}

.qdministrative-question__main__question-content p:nth-child(1){
    border: 1px solid;
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 0.3rem;
    background-color: #bf9000;
}

.qdministrative-question__main__question-content p:nth-child(2){
    padding: 0.5rem;
}

.qdministrative-question__main__answer-content{
    display: flex;
    padding: 0.8rem;
    background-color: #767171;
    align-items: flex-start;
}

.qdministrative-question__main__answer-content p.border{
    border: 1px solid;
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 0.3rem;
    background-color: #70ad47;
    flex-shrink: 1;
}

.qdministrative-question__main__answer-content p{
    padding: 0.5rem;
}