.administrative-question__main__confirmation {
    border: 1px solid;
    border-radius: 0.3rem;
    min-height: 100%;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    align-items: center;
    justify-content: center;
}

.administrative-question__main__confirmation h1 {
    margin: 1.5rem auto;
}

.administrative-question__main__confirmation > svg {
    flex: 2 0 40%;
    font-size: 20vh;
}

.administrative-question__main__confirmation a {
    display: flex;
    flex: 1 0 20%;
    margin-top: 2rem;
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius: 0.3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #777;
}

.administrative-question__main__confirmation a:hover {
    background-color: #aaa;
}

.administrative-question__main__confirmation a svg {
    margin: 2rem;
    font-size: 15vh;
}